.select {
    display: inline-block;
}

.value {
    min-width: 50px;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    color: #182369;
    position: relative;
    z-index: 2;
}

.value.active {
    border-color: #182369;
}

.value svg {
    width: 20px;
    color: #182369;
}

.value.active svg {
    transform: rotate(-180deg);
}

.value:hover {
    cursor: pointer;
}

.items {
    margin: -10px 0 0;
    padding: 15px 0 5px;
    background-color: #c6d7f5;
    border: 1px solid #889ec4;
    border-radius: 0 0 10px 10px;
    position: absolute;
    overflow: hidden;
}

.item {
    padding: 5px 10px;
    list-style: none;
}

.item:hover {
    cursor: pointer;
    background-color: #dce4f5;
}

.item.selected{
    cursor: pointer;
    background-color: #dce4f5;
}


