#root{
    /*text-align: center;*/
}

.app-container {
    margin: 30px auto ;
    width: auto;
    max-width: 1000px;
    height: calc(100vh - 60px);
    padding: 30px;
    border: 2px solid #CDCAD5;
    border-radius: 2rem;
}
